/* 1439 - 769 */
@media(max-width: 1181px){
    /* header */
    header{
        padding-inline: 32px;
    }

    .fa-bars{
        display: block;
    }

    .headerNav{
        width: 200px;
        height: 144px;
        padding: 16px 0 16px 16px;
        background-color: #C46A2B;
        position: fixed;
        top: 101px;
        left: -200px;
        transition: .5s linear;
    }

    .headerUl{
        flex-direction: column;
        row-gap: 8px;
    }

    /* section 2 */
    .section2{
        padding-inline: 20px 0;
    }

    .section2cardContainer{
        padding: 12px;
        /* paddings tu ar vuwer shadow ichreba zevit-qvevit da pirveli cardis marjvena mxares */
        overflow-x: scroll;
    }

    .section2line{
        margin-bottom: 52px;
    }
    
    .section2card{
        flex: 1 0 272px;
        padding: 0;
    }

    .section2cardTextContainer{
        padding: 8px;
    }

    .section2cardButtonContainer{
        padding-bottom: 8px;
    }
}