/* fonts */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pridi:wght@200;300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 101px;
}

/* header */
header {
    padding: 16px 94px;
    background-color: #012426;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #05BCCA;
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/* burger */
.fa-bars {
    font-size: 26px;
    color: #05BCCA;
    display: none;
}

.fa-circle-xmark {
    font-size: 23px;
    color: #05BCCA;
    display: none;
}

/* header nav */
.headerUl {
    display: flex;
    column-gap: 72px;
}

.headerLink {
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #A1C3C9;
    position: relative;
}

.headerLink::after {
    content: "";
    width: 0%;
    height: 3px;
    border-radius: 3px;
    background: #A1C3C9;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s linear;
}

.headerLink:hover::after {
    width: 100%;
    background: #05BCCA;
}

.headerLink:hover {
    color: #05BCCA;
}

.headerLink:active {
    color: #046269;
}

.headerLink:active::after {
    background-color: #046269;
}

/* header buttons */
.headerButtonContainer {
    display: flex;
    column-gap: 32px;
}

.headerButton {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #05BCCA;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerMiddleButton {
    border: none;
    background-color: #05BCCA;
}

.headerButtonIcon {
    font-size: 14px;
    color: #05BCCA;
}

.headerMiddleButtonIcon {
    color: #2C4246;
}

.headerButtonCart {
    font-size: 20px;
}

.headerButton:hover {
    background-color: #05BCCA;
    box-shadow: 0px 0px 8px 4px #05BCCACC;
}

.headerMiddleButton:hover {
    background-color: transparent;
    border: 2px solid #05BCCA;
}

.headerButton:hover .headerButtonIcon {
    color: #2C4246;
}

.headerMiddleButton:hover .headerMiddleButtonIcon {
    color: #05BCCA;
}

.headerButton:active {
    background-color: #046269;
}

/* home page */
/* section 1 */
.section1 {
    height: 560px;
    padding-top: 72px;
    background-image: url("../images/section1cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.section1container {
    height: 36px;
    display: inline-flex;
    column-gap: 24px;
    align-items: center;
}

.section1title {
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
}

.section1span {
    color: #05BCCA;
}

.section1button {
    width: 36px;
    height: 24px;
    border: none;
    border-radius: 4px;
    background-color: #C46A2B;
    cursor: pointer;
    position: relative;
}

.fa-arrow-right {
    font-size: 17px;
    color: #D9D9D9;
}

.section1button::after {
    content: "";
    width: 0%;
    height: 2px;
    border-radius: 2px;
    background: #D9D9D9;
    display: block;
    position: absolute;
    left: 3px;
    bottom: 3px;
    transition: .2s linear;
}

.section1button:hover::after {
    width: 30px;
}

.section1button:active {
    background-color: #6f3c18;
}

/* section 2 */
.section2 {
    background-color: #1A1A1A;
    padding: 96px 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
}

.section2line {
    width: 187.27px;
    height: 2px;
    border-color: #05BCCA;
    margin: 8px 0 64px 0;
}

/* section 2 card */
.section2cardContainer {
    width: 100%;
    display: flex;
    column-gap: 20px;
}

.section2card {
    width: 298px;
    padding: 8px;
    background-color: #2C4246;
    border: 1px solid #05BCCA;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    transition: .3s linear;
}

.section2card:hover {
    box-shadow: 0px 0px 8px 4px #05BCCACC;
}

.section2cardImageContainer {
    height: 221px;
    overflow: hidden;
}

.section2cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s linear;
}

.section2card:hover .section2cardImage {
    transform: scale(1.3);
}

.section2cardTitle {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
    margin-bottom: 16px;
}

.section2cardButtonContainer {
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2cardPrice {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #05BCCA;
}

.section2cardButton {
    width: 58px;
    height: 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-color: #C46A2B;

    font-family: "Inter", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}

.section2cardButton::after {
    content: "";
    width: 0%;
    height: 2px;
    border-radius: 2px;
    background: #FFFFFF;
    display: block;
    position: absolute;
    left: 4px;
    bottom: 3px;
    transition: .2s linear;
}

.section2cardButton:hover::after {
    width: 50px;
}

.section2cardButton:active {
    background-color: #6f3c18;
}

/* footer */
footer {
    padding: 48px 0;
    background-color: #2C4246;
    display: flex;
    justify-content: center;
    column-gap: 157px;
}

.footerSection {
    display: flex;
    flex-direction: column;
}

.footerTitle {
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #D9D9D9;
}

.footerLine {
    width: 80px;
    height: 2px;
    border-color: #D9D9D9;
    margin: 0 0 24px;
}

.footerUl {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footerNavLink {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
}

.footerNavLink:hover {
    color: #05BCCA;
}

.footerNavLink:active {
    color: #046269;
}

.footerSocialLinksContainer {
    display: flex;
    column-gap: 16px;
    margin-top: 8px;
}

.footerSocialLinkLogo {
    transition: .2s linear;
}

.footerSocialLinkLogo:hover {
    filter: drop-shadow(0 0 7px #D9D9D9);
}

/* catalog page */
.catalogSection {
    padding: 96px 94px;
    background-color: #012426;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.catalogTopSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterbox,
.sortByForm {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.filterboxSpan,
.sortByForm label {
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #D9D9D9;
}

.sortByForm {
    column-gap: 32px;
}

#sortBy {
    width: 160px;
    height: 32px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #A1C3C9;

    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2C4246;

    appearance: none;
    background-image: url("../images/catalogSortArrow.svg");
    background-repeat: no-repeat;
    background-position: right 8px center;
    cursor: pointer;
}

#sortBy:focus {
    outline: none;
}

/* catalog cards section */
.catalogCardsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 20px;
}

.catalogCard {
    width: 32%;
    background-color: #2C4246;
    display: flex;
    flex-direction: column;
    transition: 0.3s linear;
}

.catalogCardImageContainer {
    width: 100%;
    height: 298px;
    overflow: hidden;
}

.catalogCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s linear;
}

.catalogCard:hover {
    box-shadow:
        0 0 15px #05BCCA,
        0 0 30px #05BCCA,
        0 0 60px #05BCCA;
}

.catalogCard:hover .catalogCardImage {
    transform: scale(1.3);
    filter: grayscale(100%);
}

.catalogCardTextSection {
    padding: 16px 8px;
}

.catalogCardTitle,
.CatalogCardPrice {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
    margin-bottom: 16px;
}

.catalogCardTextSectionBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CatalogCardPrice {
    font-weight: 400;
    color: #05BCCA;
    margin: 0;
}

.CatalogCardAddToCartButton {
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 4px;
    background-color: #C46A2B;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s linear;
}

.addToCartButtonIcon {
    font-size: 19px;
    color: #FFFFFF;
    transition: .2s linear;
}

.CatalogCardAddToCartButton:hover{
    background-color: #e6823a;
    box-shadow:
        0 0 10px #C46A2B,
        0 0 20px #C46A2B,
        0 0 30px #C46A2B;
}

.CatalogCardAddToCartButton:active {
    background-color: #6f3c18;
}

.catalogBottomSection {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
}

.catalogBottomButton {
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: #C46A2B;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: 1px solid #C46A2B;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.catalogButtonRight {
    outline: 1px solid #05BCCA;
    background-color: #05BCCA;
}

.catalogBottomButton:hover {
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

.catalogButtonLeft:active {
    background-color: #6f3c18;
}

.catalogButtonRight:active {
    background-color: #046269;
}

.catalogButtonSpan,
.catalogBottomSpan {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
}

.catalogBottomSpan {
    color: #FFFFFF;
}

/* contact us page */
.contactSection {
    padding: 140px 0;
    background-image: url("../images/contactCover.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contactSectionBox {
    width: 1038px;
    padding: 32px;
    border-radius: 10px;
    background-color: #2C4246CC;
    border: 1px solid #05BCCA;
    margin: auto;
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}

.contactBoxSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
}

/* form section */
.contactBoxSection1 {
    width: 440px;
}

.contactTitle {
    font-family: "Inter", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
}

.contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.contactFormContainer {
    display: flex;
    column-gap: 60px;
}

input {
    width: 100%;
    height: 40px;
    padding-left: 8px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background-color: transparent;

    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
}

::placeholder {
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
}

input:focus {
    outline: none;
}

textarea {
    height: 96px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    resize: none;

    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
}

textarea:focus {
    outline: none;
}

.ContactSendButton {
    height: 56px;
    border-radius: 10px;
    border: none;
    background-color: #C46A2B;
    cursor: pointer;

    outline: 1px solid #C46A2B;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.ContactSendButton:hover {
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

.ContactSendButton:active {
    background-color: #6f3c18;
}

/* map section */
.contactBoxSection2 {
    width: 494px;
}

.contactBoxSection2ButtonsContainer {
    display: flex;
    column-gap: 72px;
}

.contactButton {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 2px solid #FFFFFF;
    background-color: #05BCCA;
    cursor: pointer;
}

.contactButton i {
    font-size: 20px;
    color: #FFFFFF;
    transition: .2s linear;
}

.contactButton:hover .fa-phone {
    animation-name: phoneRinging;
    animation-duration: .1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.contactButton:hover .fa-envelope {
    transform: skew(-20deg);
}

.contactButton:hover .fa-location-dot {
    animation: bounce .3s alternate ease infinite;
}

.contactButton:active {
    background-color: #046269;
}

.contactButton i {
    font-size: 20px;
    color: #FFFFFF;
}

iframe {
    width: 100%;
    height: 264px;
    border-radius: 10px;
}

/* animations */
@keyframes phoneRinging {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(45deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}