/* 768 - 481 */
@media(max-width: 745px) {

    /* header */
    header {
        padding-inline: 24px;
    }

    /* section 1 */
    .section1 {
        height: 480px;
        padding-top: 32px;
    }

    /* section 2 */
    .section2 {
        padding: 48px 0 24px 12px;
    }

    /* footer */
    footer {
        column-gap: 40px;
    }

    /* catalog page */
    .catalogSection {
        padding: 48px 24px;
    }

    .catalogCard{
        width: 100%;
    }

    .catalogCard:nth-last-child(-n+5){
        display: none;
    }
}

@media(max-width: 481px) {

    /* header */
    header {
        padding: 28px 20px;
    }

    .headerLogo {
        width: 40px;
        height: 40px;
    }

    .headerButtonContainer {
        column-gap: 16px;
    }

    .headerButton {
        width: 32px;
        height: 32px;
    }

    .headerButtonIcon {
        font-size: 10px;
    }

    .headerButtonCart {
        font-size: 12px;
    }

    /* section 1 */
    .section1title {
        font-size: 24px;
        line-height: 32px;
    }

    /* section 2 */
    .section2 {
        padding: 32px 0 8px 20px;
    }

    .section2title {
        font-size: 24px;
        line-height: 32px;
    }

    .section2line {
        width: 156px;
        margin-bottom: 28px;
    }

    /* footer */
    footer {
        padding: 32px 0;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
    }

    .footerSection,
    .footerUl {
        align-items: center;
    }

    /* catalog page */
    .catalogSection {
        padding: 32px 20px;
    }

    .filterboxSpan {
        display: none;
    }

    #sortBy {
        color: transparent;
        width: 36px;
        background-position: center;
    }

    .catalogBottomSection {
        column-gap: 45px;
    }

    .catalogButtonSpan{
        display: none;
    }
}